body {
  background-color: white;
  /* color-scheme */
  -webkit-text-size-adjust: 100%;
}


/* Remove the navbar's default margin-bottom and rounded borders */

.nav {
  padding-bottom: 7px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  font-weight: bold;
  background-color: #57068c;
  border-width: 0 !important;
  font-family: 'gotham-bold', Fallback, sans-serif font-family: 'gotham-bold', Fallback, sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* color-scheme */
}

.brand-icon {
  height: 40px;
  padding-top: 10px;
  float: left;
}

.navbar-fixed-top {
  top: 0;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: transparent;
  /* sets background to this instead of bootstrap default */
}

.navbar .active a {
  border: 0%;
  /* creates the underline effect */
  border-bottom: 2px solid;
  padding-bottom: 10px;
  background-color: #606078;
}

#myCarousel {
  padding-top: 50px;
  width: 75%;
  /* reduce carousel imgs and centers */
  margin: 0 auto;
}


/* Add a gray background color and some padding to the footer */

.blurb {
  font-family: 'Open Sans', Arial;
  font-size: 20px;
  line-height: 1.75em !important;
  height: auto;
  color: white;
  /* background-image: -webkit-linear-gradient(rgba(12,9,9,0.55) 0%, rgba(12,9,9,0.55) 100%) ,url(images/blueprint.png); */
  background-color: #57068c;
  /* color-scheme */
  text-align: center;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 25px;
}

.blurb p {
  margin-bottom: 20px;
}

.blurbwhite {
  font-family: 'Open Sans', Arial;
  font-size: medium;
  height: auto;
  color: black;
  padding-top: 40px;
  padding-bottom: 25px;
  background-color: white;
}

.poster {
  max-width: 100%;
}

.contact li {
  display: inline;
}

.footer {
  background-color: #F9F9F9;
  padding-top: 30px;
  padding-bottom: 40px;
}

#resume {
  padding-bottom: 50px;
}

.carousel-inner img {
  width: 100%;
  /* Set width to 100% */
  margin: auto;
  max-height: 100%;
  /* Set max height for images in the carousel */
}

.container {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 15px;
}

.contact_info {
  font-family: "Open Sans";
  width: 100%;
  height: auto;
  margin-top: 0px;
  color: #555;
  background-color: white;
  /* color scheme */
}

#contact {
  display: flex;
  /* establish flex container */
  flex-direction: row;
  /* default value; can be omitted */
  flex-wrap: nowrap;
  /* default value; can be omitted */
  /* switched from default (flex-start, see below) */
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 20px;
  height: 190px;
}

.contact-list {
  padding-left: 0
}


/*#contact > div {
  width: 100px;
  height: 100px;
}*/

.sponsor_info {
  font-family: 'Open Sans', Arial;
  width: 100%;
  height: auto;
  padding-top: 10px;
  // margin-top: 10px; 			/* comment out to remove white bar */
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: #57068c;
  /* color scheme */
}

#sponsor {}

.sponsor_pic {
  width: 85%;
}

small {
  color: #fff !important;
}

.carousel-caption > h1 {
  font-size: 65px;
  text-align: center;
  font-weight: bold;
  font-family: 'Open Sans';
}

.carousel-caption {
  bottom: 100px;
}

p {
  /*text-indent: 25px;*/
  line-height: 1.5em;
}

.gallery {
  background-color: white;
  text-align: center;
}

.gallery-link {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.galleryHover {
  position: absolute;
  bottom: 180px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  font-size: 55px;
  font-weight: bold;
  color: white;
  transition: .35s;
  width: 100%;
}

.gallery-link:hover .galleryHover {
  visibility: visible;
  opacity: 1;
}


/* NYU Robotics link color*/

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
  -webkit-transition: all .35s;
  transition: all .35s;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.padding-bottom {
  padding-bottom: 25px;
}

.nopadding {
  padding: 3px !important;
}

hr {
  margin-bottom: 30px !important;
}

@media only screen and (min-width: 320px) {
  .blurb {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
  }
  #myCarousel {
    width: 100%;
  }
  .carousel-caption h1 {
    font-size: 40px;
  }
  .carousel-caption {
    bottom: 60px;
  }
  .navbar-header {
    padding-left: 10px;
  }
  .galleryHover {
    bottom: 50%;
    transform: translateY(50%);
    visibility: visible;
    opacity: 1;
    font-size: 40px;
  }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  .blurb {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
  }
  #myCarousel {
    width: 100%;
  }
  .carousel-caption h1 {
    font-size: 40px;
  }
  .carousel-caption {
    bottom: 60px;
  }
  .navbar-header {
    padding-left: 10px;
  }
  .galleryHover {
    bottom: 50%;
    transform: translateY(50%);
    visibility: visible;
    opacity: 1;
    font-size: 40px;
  }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  .blurb {
    padding-left: 20px;
    font-size: 18px;
    padding-right: 20px;
  }
  #myCarousel {
    width: 100%;
  }
  .carousel-caption h1 {
    font-size: 45px;
  }
  .carousel-caption {
    bottom: 80px;
  }
  .navbar-header {
    padding-left: 10px;
  }
  .galleryHover {
    bottom: 50%;
    transform: translateY(50%);
    visibility: visible;
    opacity: 1;
    font-size: 55px;
  }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  .blurb {
    padding-left: 60px;
    font-size: 20px;
    padding-right: 60px;
  }
  #myCarousel {
    width: 75%;
  }
  .carousel-caption h1 {
    font-size: 65px;
  }
  .carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
  }
  .navbar-header {
    padding-left: 0px;
  }
  .navbar-nav {
    float: right;
  }
  .galleryHover {
    bottom: 50%;
    transform: translateY(50%);
    visibility: hidden;
    opacity: 0;
    font-size: 55px;
  }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
  .blurb {
    padding-left: 60px;
    font-size: 20px;
    padding-right: 60px;
  }
  #myCarousel {
    width: 75%;
  }
  .carousel-caption h1 {
    font-size: 65px;
  }
  .carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
  }
  .navbar-header {
    padding-left: 0px;
  }
  .navbar-nav {
    float: right;
  }
  .galleryHover {
    bottom: 50%;
    transform: translateY(50%);
    visibility: hidden;
    opacity: 0;
    font-size: 55px;
  }
}


/*fonts*/

@font-face {
  font-family: 'gotham-bold';
  src: url('fonts/gotham-bold.eot');
  /* IE9 Compat Modes */
  src: url('fonts/gotham-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/gotham-bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/gotham-bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('fonts/gotham-bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/gotham-bold.svg#svgFontName') format('svg');
  /* Legacy iOS */
}